@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: #3F4F9F;
}

section {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  background-color: darkgoldenrod;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: darkgoldenrod;
}

button {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

button:hover, input:hover {
  cursor: pointer;
}

.header-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5vh;
  gap: -10px;
    
 
}

.bio {
  height: 10vh;
  width: 100vw;
  text-align: center;
  border: 1px solid #3F4F9F;
  background-color: lightslategray;
  font-size: large;
 
}

.create-new {
  width: 95vw;
  height: 3vh;
  display: flex;
  padding: 15px;
  align-items: center;

}

.create-new button {
  width: 100%;
  border-radius: 20px;
  font-size: large;
  background-color: #25389a;
}


.searchbar {
  width:20%;
  float: right;
  background-color: #3F4F9F;
  height: 100vh;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
#search {
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 2.5%;
  background-color: #3144a3;
  border: 1px solid #25389a;
}

.foot-banner {
  display: flex;
  
  justify-content: center;
  height: 100%;
  width: 100%;
  

}

.foot-banner div:hover {
  background-color: slateblue;
  cursor: pointer;
}

.foot-banner div {
  border: 1px solid slateblue;
  padding: 5px;
  background-color: #3F4F9F;
  height: 100%;
  width: 100%;
  font-size: x-large;
  text-align: center; 
  position: relative;
  top: 5vh;
}

#banner-logo {
  height: 10vh;
  width: 8vw; 
  float: right;
}

.trending {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
                      1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.new-patents {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 60vw;
  float: left;
  border: 1px solid black;
  height: 60vh;
  border-radius: 20px;
  background-color: #25389a;
  text-align: center;
}

.new-patents img {
  height: 5vh;
  width: 7vw;
  float: left;
}



.grid-header {
  background-color: #3144a3;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center
}

.trending {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
}



.trending button {
  height: 100%;
  width: 100%;
  background-color: #3144a3;
  font-size: large;
  border-radius: 20px;
  padding: 10px;
}

.sidebar {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: lightblue;
  z-index: 3;
  height: 68vh;
  border-radius: 15px;
  width: 0;
}



#pullOut {
  transform: rotate(90deg);
  height: fit-content;
  width: fit-content;
  display: flex;
  
}

#pullOut button {
  float: left;
  
}